.form-inline{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;    color: white;

}

button{
    background-color:#5495d5;
    font-size: 25px;    color: white;

}
a{
    background-color: #5495d5;
    font-size: 25px;
    color: white;
}